@import "css/utilities.css";
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #fff;
  --turnery: #898989;
  --light: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smotthing: antialiased;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: auto;
}
header nav .left a {
  transition: all 0.3s;
  margin-right: 2rem;
  text-transform: uppercase;
  color: var(--pure);
  text-decoration: none;
}
header nav .left a:hover {
  color: var(--primary);
}
header nav {
  padding: 2rem 0;
}
.branding {
  margin-right: 3rem;
}
.hero {
  padding: 3rem 0;
}
.hero .left img {
  width: 400px;
}
.hero .right {
  color: var(--pure);
}
.hero .right h6 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero .right h1 span {
  color: var(--primary);
}
.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}
.hero .right {
  margin-top: -7rem;
}
section {
  padding: 6rem 0;
}
.about .about-me-img {
  height: 450px;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.about h1 span {
  color: var(--primary);
}
.about h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.about p {
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: var(--turnery);
}
.social {
  display: flex;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: var(--dark);
  transition: all 0.3s;
}
.social a img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.social a:hover {
  background-color: var(--primary);
}
.section-heading {
  color: var(--light);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
  color: rgb(34, 33, 33);
}
.section-heading span {
  color: var(--primary);
}
.section-heading + p {
  color: var(--dark);
  font-family: "lato", sans-serif;
  margin-bottom: 8rem;
  text-align: center;
}
.services {
  background-color: var(--light);
}
.services .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
.card {
  transition: all 0.4s ease;
  text-align: center;
  padding: 3rem 2rem;
  position: relative;
  background-color: var(--pure);
  padding-top: 5rem;
}
.card img {
  left: 50%;
  transform: translateX(-50%);
  top: -3.5rem;
  position: absolute;
}
.card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card p {
  font-family: "lato", sans-serif;
  color: var(--turnery);
  line-height: 1.6rem;
}
.card:hover {
  background-color: var(--dark);
}
.card:hover h2,
.card:hover p {
  color: var(--pure);
}
.freelencer {
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 80%, 0 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/camera.png);
  text-align: center;
  padding-bottom: 14rem;
}
.freelencer h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.freelencer p {
  font-size: 1rem;
  font-family: "lato", sans-serif;
  margin-bottom: 2rem;
}
.slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem;
}
.slider .slide p {
  color: var(--turnery);
  margin-bottom: 1rem;
  font-family: "lato", sans-serif;
}
.slider .slide span {
  font-size: 0.8rem;
}
.slide img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 2rem;
}
.slider-dots .dots {
  list-style-type: none;
  justify-content: center;
  display: flex !important;
}
.slider-dots {
  margin-top: 1rem;
}
.slider-dots button {
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--turnery);
  border: 0;
  outline: 0;
  width: 8px;
  font-size: 0;
  height: 3px;
  margin-right: 0.3rem;
}
.dots li.slick-active button {
  background-color: var(--primary);
  width: 20px;
}
